/*font family*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --h3-heading: #7A284E;
  --h2-heading: #854632;
  --h1-heading: #312E2C;
  --text: #5F564D;
  --background: #F3E5D7;
  --card-background: #FFFFFF;
  --preparation-background: #FFF7FB;
  --table-lines: #E3DDD7;
}

body {
  font-family: Outfit, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  color: var(--text);
  background-color: var(--background);
}

/*fonts*/
h1 {
  font-family: "Young serif", serif;
  font-size: 2.5rem;
  color: var(--h1-heading);
}
h2 {
  font-family: "Young serif", serif;
  color: var(--h2-heading);
  font-size: 1.75rem;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  color: var(--h3-heading);
}

.nutrition b {
  color: var(--h2-heading);
}

.card {
  background-color: var(--card-background);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.omelette-picture img {
  width: 100%;
  object-fit: cover;
  min-height: 171px;
}

.text {
  text-align: justify;
  padding-left: 32px;
  padding-right: 32px;
}

