/*font family*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --h3-heading: #7A284E;
  --h2-heading: #854632;
  --h1-heading: #312E2C;
  --text: #5F564D;
  --background: #F3E5D7;
  --card-background: #FFFFFF;
  --preparation-background: #FFF7FB;
  --table-lines: #E3DDD7;
}

body {
  font-family: Outfit, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  color: var(--text);
  background-color: var(--background);
}

/*fonts*/
h1 {
  font-family: "Young serif", serif;
  font-size: 2.25rem;
  color: var(--h1-heading);
  letter-spacing: 0px;
  line-height: 100%;
  margin-top: 40px;
}
h2 {
  font-family: "Young serif", serif;
  color: var(--h2-heading);
  font-size: 1.75rem;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  color: var(--h3-heading);
}

p {
  line-height: 150%;
  letter-spacing: 0px;
  font-size: 1rem;
  text-align: start;
}

.nutrition b {
  color: var(--h2-heading);
}

.card {
  background-color: var(--card-background);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.omelette-picture img {
  width: 100%;
  object-fit: cover;
  min-height: 171px;
}

.text {
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

.preparation-time {
  background-color: var(--preparation-background);
  padding: 24px;
  border-radius: 12px;
  margin-top: 32px;
}

/*list styling*/
 ul {
  width: 80%;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 1rem;
}

li span {
  position: relative;
  left: 1.5rem;
  text-align: start;
}

ul li::before {
  content: "•";
  display: inline-block;
  color: var(--h2-heading);
}

ul li {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

ol {
  padding-inline-start: 1rem;
}

/*instructions*/

.instructions {
  width: 100%;
  text-align: start;
  color: var(--h2-heading); /*set color for heading and numbers of ordered list*/
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--table-lines);
}

.instructions span {
  color: var(--text); /*set color of text*/
}

.instructions li {
  line-height: 150%;
  width: 90%;
  margin-top: .5rem;
}

/*nutrition*/
.nutrition {
  margin-top: 5rem;
}

.nutrition h2 {
  margin-bottom: 1.5rem;
}

.nutrition p {
  width: 95%;
  text-align: start;
  margin-bottom: 1.5rem;
}

/*table*/

table {
  margin-bottom: 1rem;
  min-width: 100%;
}

tr {
  display: flex;
  border-bottom: 1px solid var(--table-lines);
  padding: .75rem;
}

.last-row {
  border-bottom: none; /*get rid of border from tr*/
}

td {
  text-align: start;
  width: 50%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .omelette-picture {
    object-fit: cover;
    min-height: 300px;
  }

  img {
    border-radius: 12px;
    height: 100%;
  }
  .card {
    border-radius: 24px;
    width: 80%;
    padding: 40px;
    margin-top: 4rem;
  }

  .text {
    margin: 0;
  }

}

@media screen and (min-width: 992px) {
  h1 {
    white-space: nowrap;
  }

  .card {
    width: 52%;
  }
}
